@{
    ViewBag.Title = "Bar Chart";
    Layout = "_AdminLayout";
}


<div id="chartContainer" style="height: 350px; width: 100%;"></div>

<div class="text-center mt-5">
    <h3>Total sales: @ViewBag.TotalSales.ToString("c")</h3>
</div>

@section addscripts {
    window.onload = function () {

    var options = {
    exportEnabled: true,
    animationEnabled: true,
    title: {
    text: "@ViewBag.GrafTitle",
    fontColor: "Peru"
    },
    axisX: {
    tickThickness: 0,
    lineThickness: 0,
    labelFontSize: 18,
    labelFontColor: "Peru",
    title: "@ViewBag.xParam",
    },
    axisY: {
    tickThickness: 0,
    lineThickness: 0,
    valueFormatString: " ",
    gridThickness: 0,
    },
    data: [{
    yValueFormatString: "$,##",
    type: "bar",
    indexLabelFontSize: 26,
    toolTipContent: "<span style=\"color:#62C9C3\">{indexLabel}:</span> <span style=\"color:#CD853F\"><strong>{y}</strong></span>",
    indexLabelPlacement: "inside",
    indexLabelFontColor: "white",
    indexLabelFontWeight: 600,
    indexLabelFontFamily: "Verdana",
    color: "#62C9C3",
    dataPoints: @Html.Raw(ViewBag.DataRow)

    }]
    };
    $("#chartContainer").CanvasJSChart(options);

    }
}



