<div class="form-inline ml-3">
    <h5><label for="inputSupplyFilter">Status:</label></h5>
</div>
<div class="form-inline">
    <select id="inputSupplyFilter" style="position:relative; left:20px" name="Status" class="form-control ml-4">
        <option value="0" selected>All</option>
        <option value="1">Supplying is required</option>
        <option value="2">Critical stock level</option>
        <option value="3">Stock is sufficient</option>
    </select>
</div>
