@{
    ViewBag.Title = "Supplyings";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-2 px-0">
        <div class="list-group">
            <a asp-action="Index" asp-controller="Admin" class="list-group-item list-group-item-action  ">
                Product catalog
            </a>
            <a asp-action="Index" asp-controller="AdminOrders" class="list-group-item list-group-item-action ">Orders</a>
            <a asp-action="Index" asp-controller="AdminStock" class="list-group-item list-group-item-action">Products stock</a>
            <a asp-action="Index" asp-controller="AdminAnalytics" class="list-group-item list-group-item-action">Sales analytics</a>
            <a asp-action="Index" asp-controller="AdminForecast" class="list-group-item list-group-item-action">Sales forecasting</a>
            <button type="button" class="list-group-item list-group-item-action active" disabled>Planning goods supplyings</button>
        </div>
    </div>
    <div class="col-md-10 ">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <form  class="form-inline" method="get" asp-controller="AdminSupplyPlanning" asp-action="ShowSupplyTable">
                    <div class="container-fluid">
                        <div class="row">
                            @await Component.InvokeAsync("AdminApplyCatalog")
                        </div>
                        <div class="row mt-3">
                            @await Component.InvokeAsync("AdminApplySupply")
                            <div id="inputField" class="form-inline  ml-5">
                                <button style="position:relative; left:124px"  id="buttonSelect" type="submit" class="btn btn-success">Apply</button>
                            </div>
                        </div>
                    </div>
                </form>
    </li>
    </ul>
    <h2 style="position:relative; right:75px" class="m-3 text-center mt-5">@(TempData["message"] == null ? "Choose product category and supplying status" : TempData["message"])</h2>

</div>
</div>