@model Product

    @{ 
        string title = Model.ProductID == 0 ? "Add a new product" : "Edit product";
    }
@{
    ViewBag.Title = title;
    Layout = "_AdminLayout";
}

<div class="container w-75">
    <form asp-action="Edit" method="post" enctype="multipart/form-data" class="m-3 py-2">
        <input type="hidden" asp-for="ProductID" />
        <div class="form-group">
            <h5><label asp-for="Name"></label></h5>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="form-group">
            <h5><label asp-for="Description"></label></h5>
            <div><span asp-validation-for="Description" class="text-danger"></span></div>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <div class="container-fluid m-0 py-3">
                <div class="row">
                    <div class="col-md-9 px-0">
                        <div class="card w-100 h-100">
                            <div class="text-center mt-2">
                                <span asp-validation-for="Category" class="text-danger"></span>
                                <span asp-validation-for="Brand" class="text-danger"></span>
                            </div>
                            <div class="card-body  form-inline">
                                @await Component.InvokeAsync("AdminApplyCatalog")
                            </div>
                        </div>
                    </div>
                    <div class="form-inline col-md-3 px-0">
                        <div class="card w-100 h-100">
                            <div class="card-body form-inline ml-2">
                                <h5><label asp-for="Price" class="mr-3">Price:</label></h5>
                                <span asp-validation-for="Price" class="text-danger"></span>
                                <input asp-for="Price" class="form-control w-75" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group mb-0">
            <div class="card">
                <div class="card-body text-center">
                    <h5><label for="imageProduct">Choose picture:</label></h5>
                    <input type="file" class="form-control-file " name="imageUpload" id="imageProduct">
                    @if (@Model.Image != null)
                    {
                        <img class="img-thumbnail" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Image))" alt="Card image cap" />;
                    }
                </div>
            </div>
        </div>
        <div class="form-group my-0">
            <div class="card">
                <div class="card-body">
                    <a asp-action="Index" class="btn btn-secondary float-md-left">Cancel</a>
                    <button class="btn btn-primary px-4 float-md-right" type="submit">Save</button>
                </div>
            </div>
        </div>
</form>
</div>

